* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: rgb(29, 31, 33);
  line-height: 1.5em;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
}

#content {
  padding: 0 20px 0 20px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 600px;
}
